//header
.mainHeader{
    padding:0px 40px;
    height: 100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.07);
    //logo
    .logo{
        max-width: 219px;
    }
    //navagation
    .nav{
        min-width: 300px;
        ul{
            display: flex;
            li{
                a{
                    color:black;
                    text-decoration:none;
                }
                &:not(:first-child){
                    margin-left: 15px;
                }
            }

        }
        &:last-child{
            ul{
                justify-content: flex-end;
            }
        }
    }
}