.hero{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url('img/hero.jpg');
    background-size: cover;
    h1{
        width:inherit;
        margin-bottom:10px;
        color:white;
        width: 50vw;
    }
    form.search{
        width: 50vw;
        max-width: 1200px;
        display: flex;
        input{
            flex-grow: 2;
            padding:10px 5px;
            border:1px solid #c3c3c3;
            // border-radius: 10px;
        }
        button{
            padding:10px 0px;
            text-align: center;
            color:white;
            background: black;
            width:10vw;
        }
    }
}

.homePost{
    padding:2% 0;
    .grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        article.post{
            width: 360px;
        }
    }

}