/*
	Theme Name: Cocinando
	Theme URI: http://cocinan.do
	Description: Cocinando wordpress theme
	Version: 1.0
	Author: OD (@od)
	Author URI: http://od.com
	Tags: Blank, HTML5, CSS3, Scss

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/
/* line 5, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*====================
Global
====================*/
/* line 5, sass/_global.scss */
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/* line 10, sass/_global.scss */
img {
  max-width: 100%;
}

/* line 14, sass/_global.scss */
html {
  font-size: 16px;
}

/* line 16, sass/_global.scss */
body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

/* line 24, sass/_global.scss */
p {
  margin-bottom: 1.25em;
}

/* line 26, sass/_global.scss */
h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

/* line 33, sass/_global.scss */
h1 {
  margin-top: 0;
  font-size: 3.052em;
}

/* line 38, sass/_global.scss */
h2 {
  font-size: 2.441em;
}

/* line 40, sass/_global.scss */
h3 {
  font-size: 1.953em;
}

/* line 42, sass/_global.scss */
h4 {
  font-size: 1.563em;
}

/* line 44, sass/_global.scss */
h5 {
  font-size: 1.25em;
}

/* line 46, sass/_global.scss */
small, .text_small {
  font-size: 0.8em;
}

/*====================
Header
====================*/
/* line 2, sass/_header.scss */
.mainHeader {
  padding: 0px 40px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
}
/* line 11, sass/_header.scss */
.mainHeader .logo {
  max-width: 219px;
}
/* line 15, sass/_header.scss */
.mainHeader .nav {
  min-width: 300px;
}
/* line 17, sass/_header.scss */
.mainHeader .nav ul {
  display: flex;
}
/* line 20, sass/_header.scss */
.mainHeader .nav ul li a {
  color: black;
  text-decoration: none;
}
/* line 24, sass/_header.scss */
.mainHeader .nav ul li:not(:first-child) {
  margin-left: 15px;
}
/* line 31, sass/_header.scss */
.mainHeader .nav:last-child ul {
  justify-content: flex-end;
}

/*====================
Home
====================*/
/* line 1, sass/_home.scss */
.hero {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("img/hero.jpg");
  background-size: cover;
}
/* line 9, sass/_home.scss */
.hero h1 {
  width: inherit;
  margin-bottom: 10px;
  color: white;
  width: 50vw;
}
/* line 15, sass/_home.scss */
.hero form.search {
  width: 50vw;
  max-width: 1200px;
  display: flex;
}
/* line 19, sass/_home.scss */
.hero form.search input {
  flex-grow: 2;
  padding: 10px 5px;
  border: 1px solid #c3c3c3;
}
/* line 25, sass/_home.scss */
.hero form.search button {
  padding: 10px 0px;
  text-align: center;
  color: white;
  background: black;
  width: 10vw;
}

/* line 35, sass/_home.scss */
.homePost {
  padding: 2% 0;
}
/* line 37, sass/_home.scss */
.homePost .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 41, sass/_home.scss */
.homePost .grid article.post {
  width: 360px;
}
